*{
    margin: 0;
    padding: 0;
}
.container1{
    display: grid;
    grid-template-rows: 2fr 3fr 4fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 60vw;
    height: 70vw;
    margin-left: 20%;
    color: white;
}
.card{
    
        padding: 20px;
        margin:  10px 10px 10px 10px;
        background-color: indigo;
        justify-content: center;
        align-items: center;
    
}
.card1{
grid-column: 1/-1;

}
.card2{
    grid-row: 2/4;
}

.card5{
    grid-column: 1/-1;
}
.card6{
    grid-column: 1/-1;
}